<!-- <form action="/cats" method="POST">
  <label>Name: </label>
  <input type="text" name="cat[name]">
  <br>

<label>Sex: </label>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F">
  <label for="cat_sex_female">Female</label>

  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M">
  <label for="cat_sex_male">Male</label>
  <br>

  <label for="cat_color">Color:</label>
  <select name="cat[color]" id="cat_color">
      <option value=""></option>
      <option value="red">red</option>
      <option value="brown">brown</option>
      <option value="black">black</option>
      <option value="white">white</option>
  </select>
  <br>

  <label>Birthday: </label>
  <input type="date" name="cat[birth_date]" placeholder="mm/dd/yyyy">
  <br>

  <label>Description: </label>
  <input type="textarea" name="cat[description]" placeholder="Describe
  your cat and your fondest memories with your cat!">
  <br> -->

  <%= render "form" %>
  
  <input type="submit" value="Create Cat">
